html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #010506;
}

button {
    padding: 8px 24px;
    border-radius: 8px;
    border: 1px solid #0d2e36;
    background-color: #0d2e3663;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.9);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    padding: 20px 0;
    margin: 10px 0 30px;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.logotype {
    height: 64px;
    width: 64px;
}

.navigation {
    display: flex;
}

.navigation a {
    color: #ffffff;
    /*margin-left: 25px;*/
    text-decoration: none;
    transition: 0.3s ease;
}

.navigation a:hover {
    font-weight: bold;
}

.navigation .selected {
    font-weight: bold;
}

.navigation .disabled {
    filter: brightness(50%);
    pointer-events: none;
}

.icons a {
    color: #ffffff;
    transition: 0.3s ease;
}

.icons a:hover {
    filter: brightness(70%);
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 200vh;
}

.error-message {
    color: #ffffff;
}

.card {
    padding: 30px;
    margin: 10px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #0d2e36;
    transition: 0.3s ease;
}

.card__title {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card__description {
    color: #7b8183;
    font-size: 18px;
    font-weight: lighter;
}

.card__footer {
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.5fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    margin-top: 30px;
    align-items: center;
}

.card__footer a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s ease;
}

.card__project-usage-stats {
    margin: 0 0 30px;
}

.card__footer a:hover {
    filter: brightness(70%);
}

.open-project-btn {
    grid-column-start: 3;
    grid-column-end: 3;
}

.open-tg-bot-btn {
    padding: 8px 15px;
    grid-column-start: 2;
    grid-column-end: 2;
}

@media only screen and (max-width: 700px) {
    .header {
        gap: 30px;
    }

    .card__footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .card__footer a {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .open-project-btn {
        grid-row-start: 2;
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .open-tg-bot-btn {
        padding: 8px 15px;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .card__project-usage-stats {
        width: 250px;
    }
}
